
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Booking.cshtml";
}

<!--  ----------------------- jumbotron -------------------------/
----  ------------------------------------------------------------------------------>
<div class="container-fluid bg-light">
    <div class="p-5">
        <h1 class="my-3">Hey! guys</h1>
        <strong>Book a City Taxi to your destination in town</strong>
        <p>The most comprehensive set of resources for IT & Operations staff and non-.NET developers to test, deploy, and manage great applications across platforms and devices.</p>
        <p class="p-3 my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quasi impedit at sed unde provident corrupti commodi consequatur tempore fugiat quos natus, culpa debitis corporis quam, optio, quas necessitatibus aspernatur libero. Vero reprehenderit, libero tempora placeat nisi pariatur, eum, nam voluptatibus soluta corrupti illo accusamus? Ab rem nam libero molestias.</p>

        <button class="btn btn-sm btn-info">Check your account</button>
        <button class="btn btn-sm btn-outline-dark">Sign up</button>
    </div>
</div>

<!--  ----------------------- cards -------------------------/
----  ------------------------------------------------------------------------------>
<div class="container my-5">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p> <b> The best way to travel to your destination. </b></p>
        </blockquote>
        <figcaption class="blockquote-footer">
            with  <cite title="Source Title">Mr. Rider</cite>
        </figcaption>
    </figure>
</div>

<div class="container bg-light my-5">
    <div class="row">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://www.leftovercurrency.com/app/uploads/2016/12/indian-rupee-500-1000-banknote-stash-1.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Cabs for Every Pocket</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, recusandae..</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://i.pinimg.com/originals/eb/b0/c8/ebb0c8342ac605600ffb58ead9efb000.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">In Cab Entertainment</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda consequuntur ea id.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://inc42.com/wp-content/uploads/2020/07/paytm-feature.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Cashless Rides</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit voluptatibus deleniti laboriosam? .</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://motorcarsdata.blob.core.windows.net/mcb-c327a/full/img8292.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Secure and Safer Rides</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, totam..</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  ----------------------- cards-1 -------------------------/
----  ------------------------------------------------------------------------------>
<div class="container my-5">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p> <b> Focused on safety, wherever you go. </b></p>
        </blockquote>
        <figcaption class="blockquote-footer">
            with  <cite title="Source Title">Mr. Rider</cite>
        </figcaption>
    </figure>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_558,h_372/v1613520218/assets/3e/e98625-31e6-4536-8646-976a1ee3f210/original/Safety_Home_Img2x.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Our commitment to your safety</h4>
                    <p class="card-text">With every safety feature and every standard in our Community Guidelines, we're committed to helping to create a safe environment for our users.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_558,h_372/v1613520285/assets/c2/91ea9c-90d7-4c36-a740-d7844536694e/original/Cities_Home_Img2x.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Setting 10,000+ cities in motion</h4>
                    <p class="card-text">With every safety feature and every standard in our Community Guidelines, we're committed to helping to create a safe environment for our users.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  ----------------------- booking section -------------------------/
----  ------------------------------------------------------------------------------>
<div class="container my-5">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p> <b> Book your ride now. </b></p>
        </blockquote>
        <figcaption class="blockquote-footer">
            with  <cite title="Source Title">Mr. Rider</cite>
        </figcaption>
    </figure>
</div>

<div class="container my-5" style="margin-top: 10rem;">
    <div class="row">
        <div class="col-md-4">
            <img src="https://th.bing.com/th/id/R.4634c104527fb7ee7087ac5d4502b4b0?rik=38%2bFxvwWuCCqYA&riu=http%3a%2f%2fwww.carpixel.net%2fw%2f83c912e07cc1f6c87661818c22d2b690%2fjaguar-xjr-wallpaper-hd-28880.jpg&ehk=Xy28GVPwTFijnssMCtTbp5%2fDdV4xJkp0YfA9xboqHtE%3d&risl=&pid=ImgRaw&r=0" class="image-fluid" alt="" style="width: 300px;">
        </div>
        <div class="col-md-8">
            <h1>City Taxi</h1>
            <p>
                With <span class="blockquote-footer">Riders</span> Rentals you get a cab at your disposal. So be it a  day long business meeting, a shopping trip with your friends or just a day out in a new city, we have you covered. Packages start at 1 hour and can be extended upto 12 hours!
            </p>

            <a class="btn btn-sm btn-outline-primary" asp-action="BooKingNow" asp-controller="Booking"> Book ride now </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="https://th.bing.com/th/id/R.65821dc69581ac13ca96d630ef0621c6?rik=kuF0SXrP4afhjA&riu=http%3a%2f%2fwww.marinoperformancemotors.com%2fimagetag%2f13427%2f70%2fl%2fUsed-2016-Rolls-Royce-Dawn.jpg&ehk=YsNn6v9o3%2bXlNOoM1aCWGNhIVdLuvJkUNQ%2bz2783v4Q%3d&risl=&pid=ImgRaw&r=0" alt="" style="width: 300px;">
        </div>
        <div class="col-md-8">
            <h1>Book Rentals</h1>
            <p>
                With <span class="blockquote-footer">Riders</span> Rentals you get a cab at your disposal. So be it a  day long business meeting, a shopping trip with your friends or just a day out in a new city, we have you covered. Packages start at 1 hour and can be extended upto 12 hours!
            </p>

            <button class="btn btn-sm btn-outline-primary">Book ride now</button>
        </div>
    </div>
</div>