
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Driver.cshtml";
}

<blockquote class="blockquote">
    <p>Registered.</p>
</blockquote>

<section>
    <div>
        <form>
            <div class="form-group">
                <label>Please enter your name</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label>Please enter your age</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label>Please enter your Gender</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label>Please enter your phone number</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label>Please enter your city</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label>Please enter your name</label>
                <input type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label>Please select your image</label>
                <input type="file" class="form-control" />
            </div>

            <div class="form-group">
                <label>Please upload your driving licence</label>
                <input type="file" class="form-control" />
            </div>
        </form>

    </div>
</section>