
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Driver.cshtml";
}

<blockquote class="blockquote">
    <p>Registered.</p>
</blockquote>

<a asp-action="Create" asp-controller="Driver" class="btn btn-sm btn-outline-primary">Registered.</a>
<hr />

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://th.bing.com/th/id/OIP.ddgWN2_ieCX_UvG4KfcN-gHaE7?pid=ImgDet&rs=1" alt="" class="d-blick w-100" style="width: 100%; height: 90vh;">
        </div>
        <div class="carousel-item">
            <img src="https://m.atcdn.co.uk/ect/media/e05caa49b4784a9bb576aaf8ed893149.jpg" alt="" class="d-blick w-100" style="width: 100%; height: 90vh;">
        </div>
        <div class="carousel-item">
            <img src="https://www.rmagroup.net/wp-content/uploads/2018/04/New-Driver-02-1030x688.jpg" alt="" class="d-blick w-100" style="width: 100%; height: 90vh;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>