
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Driver.cshtml";
}

<blockquote class="blockquote">
    <p>Registered.</p>
</blockquote>

<a asp-action="Registration" asp-controller="Driver" class="btn btn-sm btn-outline-primary">Registered.</a>