
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Driver.cshtml";
}

<blockquote class="blockquote">
    <p>Registeration.</p>
</blockquote>

<!--  ---------------------------------------------------/
----  --------------- Driver registeration form --------------------------------------->
<section>
    <form asp-controller="Driver" asp-action="Registration" method="post">
        <div class="form-group">
            <label for="Name" class="form-label">Enter name</label>
            <input type="text" class="form-control" name="Name" />
        </div>

        <div class="form-group">
            <label for="Age" class="col-form-label-sm">Enter age</label>
            <input type="text" class="form-control" name="Age" />
        </div>

        <div class="form-group">
            <label for="Gender">Enter gender</label>
            <input type="text" class="form-control" name="Gender" />
        </div>

        <div class="form-group">
            <label for="PhoneNumber">Enter phone number</label>
            <input type="text" class="form-control" name="PhoneNumber" />
        </div>

        <div class="form-group">
            <label for="City">Enter city</label>
            <input type="text" class="form-control" name="City" />
        </div>

        <div class="form-group">
            <label for="DrivingLicence">Upload driving licence</label>
            <input type="text" class="form-control" name="DrivingLicence" />
        </div>

        <div class="form-group">
            <label for="ImageUrl">Upload image</label>
            <input type="text" class="form-control" name="ImageUrl" />
        </div>

        <button class="btn btn-sm btn-primary">Register</button>
    </form>
</section>