@model Domain.Entities.SystemEntities.DriverSystemEntity;

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Driver.cshtml";
}

<blockquote class="blockquote">
    <p>Registeration.</p>
</blockquote>

<!--  ---------------------------------------------------/
----  --------------- Driver registeration form --------------------------------------->
<section>
    <form asp-controller="Driver" asp-action="Registration" method="post">
        <div class="form-group">
            <label for="Name" class="form-label">Enter name</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>

        <div class="form-group">
            <label for="Age" class="col-form-label-sm">Enter age</label>
            <input type="text" class="form-control" asp-for="Age" />
        </div>

        <div class="form-group">
            <label for="Gender">Enter gender</label>
            <input type="text" class="form-control" asp-for="Gender" />
        </div>

        <div class="form-group">
            <label for="PhoneNumber">Enter phone number</label>
            <input type="text" class="form-control" asp-for="PhoneNumber" />
        </div>

        <div class="form-group">
            <label for="City">Enter city</label>
            <input type="text" class="form-control" asp-for="City" />
        </div>

        <div class="form-group">
            <label for="DrivingLicence">Upload driving licence</label>
            <input type="text" class="form-control" asp-for="DrivingLicence" />
        </div>

        <div class="form-group">
            <label for="ImageUrl">Upload image</label>
            <input type="file" id="imageButton" class="form-control" asp-for="ImageUrl" />
        </div>

        <button class="btn btn-sm btn-primary">Register</button>
    </form>
</section>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#imageButton').change(function () {
            var formData = new FormData();
            var files = this.files;
            for (var i = 0; i < files.length; i++) {
                formData.append("Image", files[i]);
            }

            $.ajax({
                url: '@Url.Action("UploadImage", "Shared")',
                type: 'POST',
                dataType: 'JSON',
                contentType: false,
                processData: false,
                data: formData,
                success: function () {
                },
                error: function () {
                    alert("Error occured during image upload")
                }
            });

        });


    });  // Here is closed document ready function().
</script> 